{{#partial "contenido"}}
<div class="container">
    {{#if error}}
    <p>{{error}}</p>
    {{else}}
    <div>
        <h2>Prenda eliminada</h2>
    </div>
    {{/if}}
    <a href="/wardrobes/{{idGuardarropa}}"><button type="button" class="btn btn-primary">Volver al
            guardarropa</button></a>
</div>
{{/partial}}
{{> layout.hbs}}