<!DOCTYPE html>
<html>

<head>
    <title>Que Me Pongo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{#block "js"}}
    {{/block}}
</head>

<body style="background-color: rgb(240, 240, 240)">
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand my-auto" href="/" style="font-size: 1.5rem;">
            <b>Que Me Pongo</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
            <ul class="navbar-nav col">
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/wardrobes">Guardarropas</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/calendar">Calendario</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="nav-link" href="/suggestions">Sugerencias</a>
                </li>
            </ul>
            <a href="/logout">
                <button class="btn btn-sm btn-primary" type="button">Cerrar sesión</button>
            </a>
        </div>
    </nav>

    <div>
        {{#block "contenido"}}
        {{/block}}
    </div>
</body>

</html>