
{{#partial "contenido"}}

<<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Calendario</li>
    <li class="breadcrumb-item active" aria-current="page">Sugerencias({{evento}})</li>
    <li class="breadcrumb-item active" aria-current="page">Atuendo</li>
  </ol>
</nav>

<div class="container d-flex p-2 flex-wrap">

  {{#each sugerencia.atuendo.prendas}}
  <div class="card-container col-sm-3 m-3" style="display: inline-block">
    <div class="card border rounded-sm shadow m-sm-auto p-sm-auto">
      <img src="/img/wardrobe1.png" class="card-img-top" alt="Prenda">
      <div class="card-body">
        <p class="card-title">
          <h3>{{tipo.descripcion}}</h3>
        </p>
        <form method="POST" action="/suggestions/{{id_sugerencia}}/accept">
          <button class="btn btn-success" type="submit">Aceptar</button>
        </form>
        <form method="POST" action="/suggestions/{{id_sugerencia}}/decline">
          <button class="btn btn-danger" type="submit">Rechazar</button>
        </form>
      </div>
    </div>
  </div>

  {{/each}}

  {{/partial}}
